$bgColor : rgb(255, 245, 253);
$fontSize : 5vmax;
$buttonBgColor : rgb(145, 255, 249);
$buttonColor : rgb(0, 0, 0);
$buttonBorderColor : rgb(255, 251, 0);
$buttonPadding : 1vmax;
$buttonHoverBgColor : rgb(7, 189, 164);
$buttonHoverBorderColor : rgb(255, 251, 0);
$buttonHoverColor : rgb(255, 255, 255);